.background {
  width: 100vw;
  background: linear-gradient(90deg, rgba(252, 0, 39, 0.6755952380952381) 0%, rgba(253, 126, 29, 0.8772759103641457) 50%, rgba(255, 149, 10, 0.7176120448179272) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.application {
  height: 1300px;
  margin: 40px 0px;
  background-color: #eeeae4;
  border-radius: 10px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 30px 0px 30px;
}

.logo {
  height: 130px;
  width: auto;
  cursor: pointer;
}

.search_section {
  height: 45px;
  width: 450px;
  border-radius: 70px;
  position: relative;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 0 12px;
}

.search_btn {
  height: 45px;
  width: 200px;
  border-radius: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 0;
  background: #ffbc41;
  border: none;
}

.search_btn:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  color: #ffee10;
}

.search_input {
  height: 30px;
  width: 300px;
  border: none;
  outline: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.bookmark_section {
  width: 130px;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bookmark_section :hover {
  cursor: pointer;
  color:  #ffbc41;
  border: 0;
}

.bookmark {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.bookmark_img{
height: 30px;
}

.bookmark_btn {
  border: solid 1px;
  background-color: transparent;
  height: 30px;
}

.content {
  display: flex;
  margin: 19px 0px;
}

.instructions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 30px;
  font-weight: 700;
  background-color: white;
}

.image_section {
  width: 800px;
  display: grid;
  justify-content: center;
  grid-template-columns: 335px 295px;
  grid-template-rows: 250px 235px;
}

.food_image {
  height: 220px;
  width: 295px;
}

.product_image {
  height: 40px;
  width: 50px;
  border-radius: 100px;
}

.recipes_list {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 600;
  width: 380px;
}

.item_list {
  display: flex;
  display: flex;
  align-items: center;
  height: 95px;
  transition: 1s ease;
}

.item_list:hover {
  cursor: pointer;
  box-shadow: inset 0 0 0.55em 0em red;
  border-color: red;
  color: red;
}

.recipe_details {
  display: flex;
  flex-direction: column;
  width: 290px;
}

.recipe_item_list {
  overflow: scroll;
  scrollbar-width: none;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.recipe_title {
  font-size: 13px;
  font-weight: 700;
  color: #dd4c4cd9;
}

.recipe_difficulty {
  font-size: 10px;
  color: #797878;
  font-weight: 500;
}

.change_page_btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
}

.change_btn {
  height: 27px;
  width: 80px;
  border-radius: 40px;
  border: 0;
  color: #dd4c4cd9;
  transition: 1s ease;
}

.off_btn {
  background-color: white;
  border: 0;
}

.change_btn:hover {
  background-color: aqua;
  cursor: pointer;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 0.5s ease;
  background-color: #dd4c4cd9;
  color: white;
}

.recipe_product_image {
  width: 113px;
  display: flex;
  align-items: center;
  justify-content: center;
}